<body class="text-center">
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container">
    <h1>Nous contacter</h1>
    <p>Email : email@gmail.com</p><br/>
    <p>Tél : 0601020304</p><br/><br/>
  </div>
  <div class="container text-center">
    <a class="btn btn-primary btn-lg" role="button" <%= link_to "Revenir à l'accueil", root_path %>></a>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
</body>
